<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmtcTCoyk0Rir52GZSHIuHpGXqPHN8J4w</string>
	<key>GCM_SENDER_ID</key>
	<string>90971975408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatMax.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-a142c</string>
	<key>STORAGE_BUCKET</key>
	<string>test-a142c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90971975408:ios:f54698ed72d3f75e04dc35</string>
</dict>
</plist>